<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FacebookPopSwift2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B67C0A801BF0F32F00F68EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B67C0A941BF0F33000F68EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B67C0A9F1BF0F33000F68EAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
